@use "variables" as *;

.account-history-wrapper{
  .table-container {
    .mat-mdc-table {
      max-height: 400px !important;
      height: 400px !important;
      overflow: auto;

      .mat-mdc-row {
        cursor: pointer;
        &:hover{
          background-color: $color-gray-200;
        }
        &.selected-account {
          background-color: $color-gray-300;
        }
      }
      .mat-mdc-header-cell {
        font-size: 18px;
      }

      .mat-mdc-cell {
        letter-spacing: 1px;
        font-size: 16px;
      }

      .mat-column-previousAmount,
      .mat-column-newAmount,
      .mat-column-transactionAmount,
      .mat-column-changeDate {
        flex: 1 1;
      }

      .mat-column-transactionNotes {
        flex: 4 1;
      }
    }
  }
}