@use "variables" as *;

.account-wrapper {
  .action-list {
    display: flex;
    flex-direction: column;
    .header {
      margin-bottom: 16px;
      display: flex;
      button {
        .mat-icon {
          font-size: 28px;
          height: 28px;
          width: 28px;
          color: $shade-white-grey;
        }
      }
      h1 {
        margin: 0px;
        text-align: left;
        color: $color-gray-200
      }
    }
  }
  .content {
    .item {
      display: flex;
      letter-spacing: 1px;
      margin-bottom: 8px;
      &.games {
        margin-top: 16px;
        button {
          width: 100%;
        }
      }
      &.actions {
        margin-top: 16px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        button {
          width: 190px;

          &.mat-mdc-button-disabled {
            background-color: $shade-white-grey;
            opacity: .3;
          }
        }
      }
      .title {
        font-size: 20px;
        width: 250px;
        color: $color-gray-500
      }
      .value {
        width: 150px;
        font-size: 20px;
        white-space: nowrap; 
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }
  .footer {

  }
}
